<a href="https://colab.research.google.com/github/VENKATB3/Sumanth1_Data690/blob/main/Assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from random import randrange

In [2]:
#1
numbers=[]
for i in range(100):
    numbers.append(randrange(9))

count=0
for i in range(10):
    for j in range(10):
        print(numbers[count]," ", end =" ")
        count+=1
    print("\n")

8   1   0   2   7   1   5   5   3   7

3   4   7   2   2   7   5   4   2   1

1   3   4   6   7   6   7   6   5   8

2   5   8   0   3   3   7   2   7   6

3   8   7   5   1   5   4   1   5   6

1   8   7   8   4   4   6   8   6   4

1   4   8   8   5   2   3   6   1   4

0   0   1   1   6   8   1   1   4   2

2   7   4   2   3   2   3   3   7   6

0   0   5   4   3   4   7   5   8   0

In [3]:
#2
number=[]
for i in range(100):
    a=randrange(9)
    if a%2==0:
        number.append(a)
    else:
        number.append("@")

count=0
for i in range(10):
    for j in range(10):
        print(number[count]," ", end =" ")
        count+=1
    print("\n")

2   @   6   6   @   @   @   6   0   @

0   @   @   @   2   @   @   @   8   @

@   0   @   @   6   @   @   8   2   2

@   6   6   @   0   8   8   @   2   @

@   6   @   4   0   6   @   @   @   4

4   @   0   0   @   0   @   @   0   @

@   @   @   @   6   0   @   0   @   @

2   6   @   2   @   6   @   2   2   @

4   @   4   2   4   4   4   2   @   4

@   0   @   @   6   2   6   4   @   @

In [4]:
#3
count=0
for i in range(10):
    sum=0
    for j in range(10):
        print(numbers[count]," ", end =" ")
        sum+=numbers[count]
        count+=1
    print("*",sum,"\n")

8   1   0   2   7   1   5   5   3   7   * 39

3   4   7   2   2   7   5   4   2   1   * 37

1   3   4   6   7   6   7   6   5   8   * 53

2   5   8   0   3   3   7   2   7   6   * 43

3   8   7   5   1   5   4   1   5   6   * 45

1   8   7   8   4   4   6   8   6   4   * 56

1   4   8   8   5   2   3   6   1   4   * 42

0   0   1   1   6   8   1   1   4   2   * 24

2   7   4   2   3   2   3   3   7   6   * 39

0   0   5   4   3   4   7   5   8   0   * 36

In [5]:
#4
count=0
print()
for i in range(43):
    print("*", end="")
print("")

for i in range(10):
    print("*", end=" ")
    for j in range(10):
        print(numbers[count]," ", end =" ")
        count+=1
    print("*","\n")

for i in range(43):
    print("*", end="")
print("")

*******************************************
* 8   1   0   2   7   1   5   5   3   7   *

* 3   4   7   2   2   7   5   4   2   1   *

* 1   3   4   6   7   6   7   6   5   8   *

* 2   5   8   0   3   3   7   2   7   6   *

* 3   8   7   5   1   5   4   1   5   6   *

* 1   8   7   8   4   4   6   8   6   4   *

* 1   4   8   8   5   2   3   6   1   4   *

* 0   0   1   1   6   8   1   1   4   2   *

* 2   7   4   2   3   2   3   3   7   6   *

* 0   0   5   4   3   4   7   5   8   0   *

*******************************************

In [6]:
#5
count=0
for i in range(10):
    sum=0
    for j in range(10):
        print(numbers[count]," ", end =" ")
        sum+=numbers[count]
        count+=1
    print("*",sum,"\n")
for i in range(10):
    print("*"," ", end=" ")
print("")

sum_vertical=[]
for i in range(10):
    num_range=range(i,100,10)
    sum=0
    for j in list(num_range):
        sum+=numbers[j]
    sum_vertical.append(sum)

for i in range(10):
    print(sum_vertical[i],"", end=" ")
print("")

8   1   0   2   7   1   5   5   3   7   * 39

3   4   7   2   2   7   5   4   2   1   * 37

1   3   4   6   7   6   7   6   5   8   * 53

2   5   8   0   3   3   7   2   7   6   * 43

3   8   7   5   1   5   4   1   5   6   * 45

1   8   7   8   4   4   6   8   6   4   * 56

1   4   8   8   5   2   3   6   1   4   * 42

0   0   1   1   6   8   1   1   4   2   * 24

2   7   4   2   3   2   3   3   7   6   * 39

0   0   5   4   3   4   7   5   8   0   * 36

*   *   *   *   *   *   *   *   *   *
21  40  51  38  41  42  48  41  48  44