<a href="https://colab.research.google.com/github/VENKATB3/Sumanth1_Data690/blob/main/Assignment_04/Inclass_Session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In class practice
* Date:02/21/2022
* Name:Sumanth Teja

In [2]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 0 @ 8 @ 0 4 @ 6 @ 8
 6 2 @ 2 4 0 @ @ @ 4
 @ 4 2 8 @ 0 6 @ 8 4
 4 4 @ @ @ @ @ @ @ 4
 @ @ @ @ @ @ @ 4 @ @
 @ @ @ @ 6 2 @ 4 @ @
 6 @ 8 @ 2 @ 8 @ @ @
 4 @ @ @ 2 4 @ @ @ @
 8 @ @ 2 @ 8 8 @ @ @
 @ @ @ 6 @ @ @ 8 8 4

In [3]:
x = "Hello Worlpd!"

print(x)

Hello Worlpd!

In [4]:
x = x.replace("p", "")

print(x)

Hello World!

In [5]:
x = x.replace("Hello", "Hi")

print(x)

Hi World!

In [6]:
x = x.upper()

print(x)

HI WORLD!

In [7]:
x = x.lower()

print(x)

hi world!

# String Functions
* upper()
* lower()
* strip()
* istrip()
* rstrip()

In [10]:
# generate 100 numbers first

numbers=[]
for i in range(100):
    numbers.append(random.randint(0, 9))

print(numbers)
print(len(numbers))

[9, 1, 9, 5, 8, 6, 4, 0, 5, 2, 1, 0, 1, 2, 8, 5, 8, 4, 7, 8, 6, 6, 8, 4, 3, 9, 4, 4, 6, 2, 8, 7, 9, 5, 9, 4, 6, 6, 9, 2, 3, 2, 1, 4, 6, 6, 3, 9, 7, 2, 8, 4, 2, 8, 1, 3, 3, 2, 2, 9, 9, 5, 4, 7, 3, 6, 0, 8, 3, 5, 9, 5, 6, 1, 4, 3, 0, 9, 6, 0, 2, 2, 0, 2, 6, 0, 8, 7, 4, 1, 9, 0, 3, 2, 5, 3, 2, 0, 9, 9]
100

In [16]:
for i in range(0,100,1):
    print("index = ", i, "number= ", numbers[i])

index =  0 number=  9
index =  1 number=  1
index =  2 number=  9
index =  3 number=  5
index =  4 number=  8
index =  5 number=  6
index =  6 number=  4
index =  7 number=  0
index =  8 number=  5
index =  9 number=  2
index =  10 number=  1
index =  11 number=  0
index =  12 number=  1
index =  13 number=  2
index =  14 number=  8
index =  15 number=  5
index =  16 number=  8
index =  17 number=  4
index =  18 number=  7
index =  19 number=  8
index =  20 number=  6
index =  21 number=  6
index =  22 number=  8
index =  23 number=  4
index =  24 number=  3
index =  25 number=  9
index =  26 number=  4
index =  27 number=  4
index =  28 number=  6
index =  29 number=  2
index =  30 number=  8
index =  31 number=  7
index =  32 number=  9
index =  33 number=  5
index =  34 number=  9
index =  35 number=  4
index =  36 number=  6
index =  37 number=  6
index =  38 number=  9
index =  39 number=  2
index =  40 number=  3
index =  41 number=  2
index =  42 number=  1
index =  43 number=  4
index =  44 number=  6
index =  45 number=  6
index =  46 number=  3
index =  47 number=  9
index =  48 number=  7
index =  49 number=  2
index =  50 number=  8
index =  51 number=  4
index =  52 number=  2
index =  53 number=  8
index =  54 number=  1
index =  55 number=  3
index =  56 number=  3
index =  57 number=  2
index =  58 number=  2
index =  59 number=  9
index =  60 number=  9
index =  61 number=  5
index =  62 number=  4
index =  63 number=  7
index =  64 number=  3
index =  65 number=  6
index =  66 number=  0
index =  67 number=  8
index =  68 number=  3
index =  69 number=  5
index =  70 number=  9
index =  71 number=  5
index =  72 number=  6
index =  73 number=  1
index =  74 number=  4
index =  75 number=  3
index =  76 number=  0
index =  77 number=  9
index =  78 number=  6
index =  79 number=  0
index =  80 number=  2
index =  81 number=  2
index =  82 number=  0
index =  83 number=  2
index =  84 number=  6
index =  85 number=  0
index =  86 number=  8
index =  87 number=  7
index =  88 number=  4
index =  89 number=  1
index =  90 number=  9
index =  91 number=  0
index =  92 number=  3
index =  93 number=  2
index =  94 number=  5
index =  95 number=  3
index =  96 number=  2
index =  97 number=  0
index =  98 number=  9
index =  99 number=  9

In [11]:
count = 0
for i in range(10):
    for j in range(10):
        print(numbers[count], " ", end = " ")
        count+=1
    print("\n")

9   1   9   5   8   6   4   0   5   2

1   0   1   2   8   5   8   4   7   8

6   6   8   4   3   9   4   4   6   2

8   7   9   5   9   4   6   6   9   2

3   2   1   4   6   6   3   9   7   2

8   4   2   8   1   3   3   2   2   9

9   5   4   7   3   6   0   8   3   5

9   5   6   1   4   3   0   9   6   0

2   2   0   2   6   0   8   7   4   1

9   0   3   2   5   3   2   0   9   9

In [17]:
# when to initialize a variable

sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

8 1 1 5 0 0 1 5 7 3 * 31
3 3 2 6 9 3 9 1 6 1 * 43
7 9 6 1 0 7 5 2 5 7 * 49
1 0 5 1 6 4 9 1 5 5 * 37
5 6 1 8 3 8 6 7 1 0 * 45
1 4 6 5 3 1 5 0 0 4 * 29
3 2 4 2 7 6 2 5 2 2 * 35
3 9 4 7 6 2 9 7 2 0 * 49
4 4 2 2 0 3 2 7 8 3 * 35
7 2 5 1 3 9 0 4 8 9 * 48

In [18]:
# when to initialize a variable


for n in range (10): #repeats each row 10 times
    sum=0
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char

9 9 3 0 4 0 8 9 0 0 * 42
1 3 0 2 7 2 2 5 4 7 * 33
1 4 8 6 7 6 5 7 1 0 * 45
0 6 3 1 2 4 1 5 0 4 * 26
2 8 9 6 3 9 6 6 9 9 * 67
0 5 6 9 0 1 3 4 0 4 * 32
1 0 2 1 2 7 6 6 9 1 * 35
8 1 0 9 2 9 5 0 3 0 * 37
0 3 9 4 5 7 1 2 4 0 * 35
8 3 3 9 0 1 9 8 0 9 * 50

In [19]:
x = [0,0,0,0,0,0]

print(x)

[0, 0, 0, 0, 0, 0]

In [20]:
x = [0] * 6

print(x)

[0, 0, 0, 0, 0, 0]

In [21]:
x = [0] * 100

print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]